# Gradle
.gradle/
build/
/*/build/

# Kotlin
.kotlin/
kotlin-js-store/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Local configuration
local.properties

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.ap_
*.dex
*.class
*.flat
output-metadata.json

# iOS / macOS
.DS_Store
*.swp
*~
profile
DerivedData/
*.moved-aside
*.xcuserstate

# Keystore
*.jks
*.p12
*.keystore
*.key
*.pub

# Logs
*.log
